    body{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
   
    #container{
        width: 1200px;
        background: linear-gradient(to top, #e2e2e2 70%, #628ede 70%);
        margin: 0 auto; 
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }
    header{
        background: #628ede; 
        display: flex;
        h1{
            color: #F8F9FA;
        }
    }
    #logo{
        width: 200px;
        img{
            border-radius: 0px 0px 30px 0px;
            display: block;
        }
    }
    #slogan{
        width: 800px;
        h1{
            font-size: 40px;
            margin-left: 5%;
            color:#f0f0f0;
        }
    }  
    nav {
        padding: 12px 20px;
        background-color: #e87400;
        a{
            text-decoration: none;
            color: #f0f0f0; 
            margin-right: 20px; 
            font-weight: 500;
            transition: transform 0.3s ease, color 0.3s ease;
            display:inline-block;
        }
        a:visited{
            color: #f0f0f0;
        }
        a:hover{
            color: #1f7fe4;
            transform:scale(1.1);
        }
    }
    aside{ 
        color: #f0f0f0; 
        background: linear-gradient(to bottom, #628ede 40%, #e2e2e2 90%);
        height: 700px; 
        width: 300px; 
        float: left;
        padding: 20px;
        
        p{
            text-align: justify;
            font-size:x-small;
        }
    }
    section{
        border-radius: 30px 0px 0px 0px;
        background-color:#d9e5e9;
        height:740px;
        width:900px;
        float:left;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

        p, h1, h2, h3, h4, br{
            text-align: justify;
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    
    footer{
        color: #F8F9FA;
        background-color:#628ede; 
        clear:both; 
        text-align:center;
    }